<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>問題確認</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div class="container">

		<h1 th:text="${category.toUpperCase()} + ' 問題確認'"></h1>

		<p class="sub-title">
			問題
			<span th:text="${questionIndex + 1}"></span>
			/
			<span th:text="${total}"></span>
		</p>

		<div class="question-card">

			<h2 th:text="${question.questionText}"></h2>

			<div th:each="choice, idx : ${question.choices}">

				<p>
					<span th:text="${idx.index + 1} + '. '"></span>
					<span th:text="${choice}"></span>

					<span th:if="${idx.index == question.answerIndex}">
						← 正解
					</span>

					<span th:if="${userAnswer != null
                              and idx.index == userAnswer}">
						← あなたの回答
					</span>
				</p>

			</div>

			<div class="answer-result">

				<h2 th:if="${correct}">
					正解！
				</h2>

				<h2 th:unless="${correct}">
					不正解
				</h2>

			</div>

			<div class="question-card">

				<h3>解説</h3>

				<p th:text="${question.explanation}"></p>

			</div>


			<div class="button-area">

				<a th:href="@{/quiz/{c}/comprehensive/result(c=${category})}" class="button">
					結果一覧に戻る
				</a>

			</div>

		</div>

	</div>

</body>

</html>