<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>クイズ一覧</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
	<div class="container">
		<h1 th:text="${category.toUpperCase()}"></h1>
		<p class="sub-title">
			学習する問題セットを選択してください
		</p>
		<div class="question-card quiz-set-card" th:each="set, idx : ${quizSets}">
			<h2 th:text="${set.title}"></h2>
			<p>
				問題数： <span th:text="${set.questions.size()}"></span> 問
			</p>
			<div class="button-area">
				<button class="button"
					th:attr="data-url=@{'/quiz/' + ${category} + '/' + ${idx.index} + '/0'}"
					onclick="location.href=this.dataset.url">
					開始
				</button>
			</div>

			<div class="question-list">
				<span th:each="q, qIdx : ${set.questions}">
					<button class="question-button"
						th:attr="data-url=@{'/quiz/' + ${category} + '/' + ${idx.index} + '/' + ${qIdx.index}}"
						onclick="location.href=this.dataset.url">
						<span th:text="${qIdx.index + 1}"></span>
					</button>
				</span>
			</div>
		</div>
	</div>

	<div class="button-area">
		<button class="button" onclick="location.href='/quiz'">
			カテゴリへ戻る
		</button>
	</div>

</body>

</html>
